body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.header {
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
}

.header-text {
    color: white;
    font-size: 50px;
    position: absolute;
    margin: auto;
    z-index: 10;
    font-family: Bookman Old Style,monospace;
    font-weight: bold;
}

.header-subText {
    color: white;
    font-size: 30px;
    z-index: 10;
    font-family: Bookman Old Style,monospace;
    font-weight: bold;
    position: absolute;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%) translateY(130%);
}

.about-header {
    font-family: Bookman Old Style,monospace;
    font-size: 25px;
    font-weight: bold;
    color: #173f5f;
}

.about-text {
    font-family: Bookman Old Style,monospace;
    color: #264653;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact-header {
    font-family: Bookman Old Style,monospace;
    font-size: 29px;
    font-weight: bold;
    color: #173f5f;
}

.contact-curlyBracketTop {
    font-size: 50px;
    margin-left: 10px;
    font-weight: normal;
}

.contact-curlyBracketBottom {
    font-size: 50px;
    font-weight: normal;
}

.contact-table {
    margin-top: 30px;
    margin-left: 80px;
}

.contact-iconsRow {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #173f5f;
}

.link {
    text-decoration: none;
    color: inherit;
}

.redHover:hover {
    color: #ed553b;
}

.yellowHover:hover {
    color: #f6d55c;
}

.greenHover:hover {
    color: #3caea3;
}

.contact-iconsRow-text {
    font-family: Bookman Old Style,monospace;
    margin-left: 70px;
    font-size: 18px;
}

.bottom {
    height: 10vh;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    -ms-user-select: none;
    user-select: none;
}