body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

.header {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin-bottom: 10vh;
}

.header-text {
    color: white;
    font-size: 50px;
    position: absolute;
    margin: auto;
    z-index: 10;
    font-family: Bookman Old Style,monospace;
    font-weight: bold;
}

.header-subText {
    color: white;
    font-size: 30px;
    z-index: 10;
    font-family: Bookman Old Style,monospace;
    font-weight: bold;
    position: absolute;
    text-align: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%) translateY(130%);
}

.about {
    margin-bottom: 15vh;
    display: flex;
    justify-content: space-between;
}

.about-computer {
    flex-grow: 2;
    max-height: 90vh !important;
    margin-left: 2vw;
}
.about-exposition {
    min-width: 400px;
    width: 49vw;
    margin-right: 8vw;
    display: flex;
    align-items: center;
}

.about-closure {
    display: flex;
    align-items: center;
    font-family: Bookman Old Style,monospace;
    font-weight: bold;
    color: #173f5f;
}

.about-closure-text {
    font-size: 29px;
    margin-left: 10px;
}

.about-closure-text-end {
    font-size: 29px;
    margin-left: 5px;
    margin-right: 10px;

}

.about-angleBracket {
    font-size: 40px;
}

.about-angleBracket-end {
    margin-left: 12px;
}
.about-text {
    margin-top: 4vh;
    margin-bottom: 6vh;
    margin-left: 5vw;
    font-family: Bookman Old Style,monospace;
    font-size: 19px;
    color: #264653;
}

.personalProj {
    font-family: Bookman Old Style,monospace;
    color: #173f5f;
    margin-bottom: 13vh;
}

.personalProj-header {
    margin-left: 5vw;
}

.personalProj-title {
    font-size: 29px;
    font-weight: bold;
}

.personalProj-fnStart {
    font-weight: bold;
    font-size: 35px;
}

.personalProj-curlyBracketTop {
    font-size: 50px;
    font-weight: normal;
}
.personalProj-fud {
    display: flex;
    margin-top: 5em;
}

.personalProj-pic {
    width: 30em;
    height: auto;
    margin-right: 4em;
    margin-left: 3em;
    margin-top: 1em;
}

.personalProj-text {
    /*margin-bottom: 3vh;*/
    margin-right: 5em;
    font-size: 19px;
}

.personalProj-curlyBracketBottom {
    font-size: 50px;
    font-weight: normal;
    margin-left: 5vw;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact-header {
    font-family: Bookman Old Style,monospace;
    font-size: 29px;
    font-weight: bold;
    color: #173f5f;
}

.contact-curlyBracketTop {
    font-size: 50px;
    margin-left: 10px;
    font-weight: normal;
}

.contact-curlyBracketBottom {
    font-size: 50px;
    font-weight: normal;
}

.contact-table {
    margin-top: 30px;
    margin-left: 80px;
}

.contact-iconsRow {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #173f5f;
}

.link {
    text-decoration: none;
    color: inherit;
}

.redHover:hover {
    color: #ed553b;
}

.yellowHover:hover {
    color: #f6d55c;
}

.greenHover:hover {
    color: #3caea3;
}

.contact-iconsRow-text {
    font-family: Bookman Old Style,monospace;
    margin-left: 70px;
    font-size: 18px;
}

.bottom {
    height: 10vh;
}

.credits {
    font-size: 10px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    -ms-user-select: none;
    user-select: none;
}